<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>
    <link rel="stylesheet" href="css/main.css">
</head>
<body>
<h1>Learning EJS</h1>
<p>
    <%= data %>

<div class="row">

    <% for(var i = 0; i < data.articles.length; i++) { %>
        <div class="column three">
                <pre>

                <%= data.articles[i].source.name %>
                </pre>
        </div>
    <% } %>

</div>
</p>
<pre>
  <%= raw %>
    </pre>
</body>
<script src="js/main.js"></script>
</html>